<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.halggeol.backend.products.mapper.ProductRegretMapper">
  <resultMap id="regretRankingResponseDTOMap" type="com.halggeol.backend.products.dto.RegretRankingResponseDTO">
    <id property="productId" column="productId"/>
    <result property="name" column="name"/>
    <result property="company" column="company"/>
    <result property="regretCnt" column="regret_cnt"/>
    <result property="rate" column="rate"/>
  </resultMap>
  <select id="getRegretRanking" resultMap="regretRankingResponseDTOMap">
    (SELECT
       d.id AS productId,
       d.name,
       d.company,
       'deposit' AS type,
       d.rate,
       d.regret_cnt
     FROM deposit d
     ORDER BY d.regret_cnt DESC
     LIMIT 5)

    UNION ALL

    (SELECT
       s.id AS productId,
       s.name,
       s.company,
       'savings' AS type,
       s.rate,
       s.regret_cnt
     FROM savings s
     ORDER BY s.regret_cnt DESC
     LIMIT 5)

    UNION ALL

    (SELECT
       p.id AS productId,
       p.name,
       p.company,
       'pension' AS type,
       p.rate,
       p.regret_cnt
     FROM pension p
     ORDER BY p.regret_cnt DESC
     LIMIT 5)

    UNION ALL

    (SELECT
       f.id AS productId,
       f.name,
       f.company,
       'fund' AS type,
       f.rate,
       f.regret_cnt
     FROM fund f
     ORDER BY f.regret_cnt DESC
     LIMIT 5)

    UNION ALL

    (SELECT
       fx.id AS productId,
       fx.name,
       fx.company,
       'forex' AS type,
       fx.rate,
       fx.regret_cnt
     FROM forex fx
     ORDER BY fx.regret_cnt DESC
     LIMIT 5)

    ORDER BY regret_cnt DESC
    LIMIT 5;

  </select>
</mapper>