<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.halggeol.backend.user.mapper.UserProductMapper">
  <select id="getUserProductsByUserId" resultType="com.halggeol.backend.user.dto.UserProductResponseDTO">
    WITH LatestMydata AS (
      SELECT id
      FROM mydata
      WHERE user_id = #{userId}
      ORDER BY collect_date DESC, id DESC
      LIMIT 1
    ),
    UserLatestMyProducts AS (
      SELECT mp.product_id, mp.amount
      FROM myproduct mp
      JOIN LatestMydata lm ON mp.mydata_id = lm.id
    )

    SELECT
      ulmp.product_id AS productId,
      CASE SUBSTRING(ulmp.product_id, 1, 1)
        WHEN 'D' THEN d.name
        WHEN 'S' THEN s.name
        WHEN 'A' THEN p_a.name
        WHEN 'C' THEN p_c.name
        WHEN 'F' THEN f.name
        WHEN 'X' THEN fx.name
        ELSE NULL
        END AS name,
      CASE SUBSTRING(ulmp.product_id, 1, 1)
        WHEN 'D' THEN d.company
        WHEN 'S' THEN s.company
        WHEN 'A' THEN p_a.company
        WHEN 'C' THEN p_c.company
        WHEN 'F' THEN f.company
        WHEN 'X' THEN fx.company
        ELSE NULL
        END AS company,
      CASE SUBSTRING(ulmp.product_id, 1, 1)
        WHEN 'D' THEN CAST(d.min_save_term AS CHAR)
        WHEN 'S' THEN CAST(s.min_save_term AS CHAR)
        WHEN 'A' THEN p_a.pension_kind
        WHEN 'C' THEN p_c.pension_kind
        WHEN 'F' THEN f.category
        WHEN 'X' THEN fx.currency
        ELSE NULL
        END AS tag1,
      CASE SUBSTRING(ulmp.product_id, 1, 1)
        WHEN 'D' THEN CAST(d.max_save_term AS CHAR)
        WHEN 'S' THEN CAST(s.max_save_term AS CHAR)
        WHEN 'A' THEN CAST(p_a.risk AS CHAR)
        WHEN 'C' THEN CAST(p_c.risk AS CHAR)
        WHEN 'F' THEN f.theme
        ELSE NULL
        END AS tag2,
      CASE SUBSTRING(ulmp.product_id, 1, 1)
        WHEN 'F' THEN CAST(f.risk AS CHAR)
        ELSE NULL
        END AS tag3,
      CASE SUBSTRING(ulmp.product_id, 1, 1)
        WHEN 'D' THEN d.prime_rate
        WHEN 'S' THEN s.prime_rate
        WHEN 'A' THEN p_a.pension_price_movement
        WHEN 'C' THEN p_c.rate
        WHEN 'F' THEN f.rate
        WHEN 'X' THEN fx.rate
        ELSE NULL
        END AS title,
      CASE SUBSTRING(ulmp.product_id, 1, 1)
        WHEN 'D' THEN d.rate
        WHEN 'S' THEN s.rate
        WHEN 'C' THEN p_c.min_guarantee_rate
        WHEN 'F' THEN f.fund_price_movement
        WHEN 'X' THEN fx.rate_give_way
        ELSE NULL
        END AS subTitle,
      ulmp.amount,
      CASE WHEN sc.product_id IS NOT NULL THEN TRUE ELSE FALSE END AS isScraped
    FROM UserLatestMyProducts ulmp
           LEFT JOIN deposit d ON ulmp.product_id = d.id
           LEFT JOIN savings s ON ulmp.product_id = s.id
           LEFT JOIN pension p_a ON ulmp.product_id = p_a.id AND ulmp.product_id LIKE 'A%'
           LEFT JOIN pension p_c ON ulmp.product_id = p_c.id AND ulmp.product_id LIKE 'C%'
           LEFT JOIN fund f ON ulmp.product_id = f.id
           LEFT JOIN forex fx ON ulmp.product_id = fx.id
           LEFT JOIN scrap sc ON sc.user_id = #{userId} AND sc.product_id = ulmp.product_id
    ORDER BY productId ASC;
  </select>
</mapper>