<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <display-name>Halggeol Backend</display-name>

  <!-- TLD 스캔 최적화 - 불필요한 JAR 스캔 제외 -->
  <context-param>
    <param-name>org.apache.jasper.servlet.TldScanner.scanClassPath</param-name>
    <param-value>false</param-value>
  </context-param>
  
  <!-- JSP 컴파일 최적화 -->
  <context-param>
    <param-name>org.apache.jasper.servlet.JspServlet.fork</param-name>
    <param-value>false</param-value>
  </context-param>
  
  <context-param>
    <param-name>org.apache.jasper.servlet.JspServlet.xpoweredBy</param-name>
    <param-value>false</param-value>
  </context-param>

  <!-- Log4j2 Configuration -->
  <context-param>
    <param-name>log4j.configurationFile</param-name>
    <param-value>classpath:log4j.xml</param-value>
  </context-param>
  <context-param>
    <param-name>Log4jContextSelector</param-name>
    <param-value>org.apache.logging.log4j.core.async.AsyncLoggerContextSelector</param-value>
  </context-param>
  <context-param>
    <param-name>log4j2.debug</param-name>
    <param-value>false</param-value>
  </context-param>

</web-app>